{{!-- BEGIN-SNIPPET label-api }}
  {{frost-sidebar
    ...
    class='<class name>'
    isOpen=<true/false>
    content=(component '<component name>')
    onToggle=<action>
    label=(component '<component name>') // or string e.g. 'foo'
    ...
  }}
{{ END-SNIPPET --}}

<div class='addon-demo-api'>
  <div class='addon-demo-title'>
    Notes
  </div>
  <div class='addon-demo-notes'>
    <p>
      Pass in a string or component to the label prop to show beside the sidebar button when it is collapsed.
    </p>
  </div>
  <div class='addon-demo-title'>
    API
  </div>
  <div class='addon-demo-snippet'>
    {{code-snippet name='label-api.hbs'}}
  </div>
</div>
<div class='addon-demo-live'>
  <div class='addon-demo-title'>
    Live demo
  </div>
  <div class='addon-demo-snippet'>
    <i>Label component</i>  
    {{code-snippet name='label-component-frost-sidebar.hbs'}}
  </div>
  <div class='addon-demo-component'>
    {{! BEGIN-SNIPPET label-component-frost-sidebar }}
    {{frost-sidebar
      content=(component 'simple-content'
              sentences=sentences)
      onToggle=(action 'onToggle1')
      isOpen=isOpen1
      label=(component 'map-label')
    }}
    {{! END-SNIPPET }}
  </div>
  <div class='addon-demo-snippet'>
    <i>String label</i>  
    {{code-snippet name='string-label-frost-sidebar.hbs'}}
  </div>
  <div class='addon-demo-component'>
    {{! BEGIN-SNIPPET string-label-frost-sidebar }}
    {{frost-sidebar
      content=(component 'simple-content'
              sentences=sentences)
      onToggle=(action 'onToggle2')
      isOpen=isOpen2
      label='Map Details'
    }}
    {{! END-SNIPPET }}
  </div>
</div>
