{{!-- BEGIN-SNIPPET size-api }}
  {{frost-sidebar
    ...
    class='<class name>'
    isOpen=<true/false>
    content=(component '<component name>')
    onToggle=<action>
    ...
  }}
{{ END-SNIPPET --}}

<div class='addon-demo-api'>
  <div class='addon-demo-title'>
    Notes
  </div>
  <div class='addon-demo-notes'>
    <p>
      It's also possible to set the max height and width of the sidebar content by changing `max-height` and
      `max-width` on `frost-sidebar-content-container` css class.
    </p>
  </div>
  <div class='addon-demo-title'>
    API
  </div>
  <div class='addon-demo-snippet'>
    {{code-snippet name='size-api.hbs'}}
  </div>
</div>
<div class='addon-demo-live'>
  <div class='addon-demo-title'>
    Live demo
  </div>
  <div class='addon-demo-snippet'>
    <i>css</i>
    {{code-snippet name='size-css.scss'}}
  </div>
  <div class='addon-demo-snippet'>
    <i>Demo template</i>
    {{code-snippet name='size-frost-sidebar.hbs'}}
  </div>
  <div class='addon-demo-component'>
    {{! BEGIN-SNIPPET size-frost-sidebar }}
    {{frost-sidebar
      class="change-sidebar-size"
      content=(component 'simple-content' sentences=sentences)
      onToggle=(action 'toggle')
      isOpen=isOpen}}
    {{! END-SNIPPET }}
  </div>
</div>