{{#liquid-if isOpen}}
  <div class="frost-sidebar-open" data-test={{hook (concat hook '-sidebar')}}>
    <div class="frost-sidebar-content-container">
      {{#frost-scroll}}
        <div class="frost-sidebar-content" data-test={{hook (concat hook '-sidebar-content')}}>
          {{component content}}
        </div>
      {{/frost-scroll}}
    </div>
    <div class="frost-sidebar-button frost-sidebar-button-open" {{action onToggle}} data-test={{hook (concat hook '-sidebar-button')}} role="button">
      {{frost-icon class="frost-sidebar-button-icon" icon="layer-open" pack='frost-sidebar'}}
    </div>
  </div>
{{else}}
  <div class="frost-sidebar-closed" data-test={{hook (concat hook '-sidebar')}}>
    <div class="frost-sidebar-button" {{action onToggle}} data-test={{hook (concat hook '-sidebar-button')}} role="button">
      {{frost-icon class="frost-sidebar-button-icon" icon="layer-normal" pack='frost-sidebar'}}
    </div>
  </div>
{{/liquid-if}}
