<div class="demo-instance" >
  <h3>Sidebar</h3>
  {{frost-sidebar
    class="demo-instance"
    content=(component 'simple-content' texts=simpleContent)}}
</div>
<div class="demo-instance">
  <h3>Sidebar with content expands horizontally</h3>
  {{frost-sidebar
    class="demo-instance"
    content=(component 'simple-content' texts=horizontalContent)}}
</div>

<div class="demo-instance">
  <h3>Sidebar with content expands horizontally beyond default 330px triggers scroll bar</h3>
  {{frost-sidebar
    class="demo-instance"
    content=(component 'simple-content' texts=largerHorizontalContent)}}
</div>

<div class="demo-instance">
  <h3>Sidebar with content expands vertically</h3>
  {{frost-sidebar
    class="demo-instance"
    content=(component 'simple-content' texts=verticalContent)}}
</div>
<div class="demo-instance">
  <h3>Sidebar with content expands vertically beyond default 550px triggers scroll bar</h3>
  {{frost-sidebar
    class="demo-instance"
    content=(component 'simple-content' texts=largerVerticalContent)}}
</div>
